.text-black {
    color: white !important;
}

.cart-pay-total {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.cart-main {
    min-height: 780px;
}

.rounded-3 {
    margin: 2px !important;
    background-color: #212529;
}

.img-fluid {
    width: 500px;
    height: 100px;
}

.h-100 {
    padding-top: 0 !important;
}

.total-price,
.closebtn {
    color: white;
}

.card-total,
.closebtn {
    background-color: #212529 !important;
}

.col-md-3 {
    color: white !important;
}

/* .empty-text {
    color: white !important;
} */