.details-img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.details-card {
    display: flex;
    align-items: center;
    padding-top: 15px;
    width: 22rem;
    height: 20rem;
}

.card-body {
    text-align: center;
}