/* boostrap form style */

.form-inline {
    width: 100%;
}

.form-group {
    width: 90%;
}

.input-group {
    width: 90% !important;
}

.form-control {
    width: 80% !important;
}

span.input-group-addon {
    width: 50px !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

/* my css main*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.back {
    position: relative;
    height: 100%;
    background: url('/public/images/background.jpg') center/cover;
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

}

.user-buttons {
    margin-top: 20px;

}

/* FORMS */

.form-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-header {
    margin-bottom: 20px;
}

.background {
    position: relative;
    min-height: 733px;
    /* background: url('/public/images/background.jpg') center/cover; */
    color: #fff;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-img-top {
    margin-top: 0;
}

/* Forms */

.form-box {
    width: 300px;

}

.form-btns {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}